@CHARSET "ISO-8859-1";

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
/*body*/
body {
	margin: 0;
	font-family: 'MerriweatherSans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background-color: #F7F7F7;
	overflow-y: scroll;
	padding-top: 30px;
}
/*fonts*/
@font-face {
	font-family: 'BreeSerifRegular';
	src: url('../fonts/BreeSerif-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MerriweatherSans';
	src: url('../fonts/MerriweatherSans-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansProRegular';
	src: url('../fonts/SourceSansPro-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansProBold';
	src: url('../fonts/SourceSansPro-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Chunkfive';
	src: url('../fonts/Chunkfive.otf');
	font-weight: normal;
	font-style: normal;
}

#header {
	border-bottom: 1px solid #dddddd;
}

.designer_name {
	font: 60px/68px 'BreeSerifRegular', Arial, sans-serif;
	letter-spacing: 0;
	color: #5E5E5E;
	text-align: center;
	margin-top: 20px;
}

.descriptor {
	font: 50px '', Arial, sans-serif;
	letter-spacing: 0;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
}

.online {
	font: 30px 'SourceSansProBold', Arial, sans-serif;
	letter-spacing: 0;
	color: #777777;
	text-align: center;
}

.click_hint {
	position: relative;
	top: 64px;
	left: 149px;
	margin: -43px auto 0;
	background: url("../img/may_click.png") no-repeat;
	width: 218px;
	height: 43px;
}

#navigation {
	position: relative;
	width: 380px;
	height: 100px;
	margin: 0 auto;
}

.nav_button {
	display: block;
	position: absolute;
	width: 50px;
	height: 51px;
	background-image: url("../img/button.png");
}

#contact {
	top: 32px;
	left: 168px;
}

.nav_button span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url("../img/button.png");
	background-position: center bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	opacity: 0;
}

.nav_button:hover span {
	opacity: 1;
}

.button_icon {
	position: relative;
	margin: 15px 0 0 15px;
}

.button_icon:HOVER {
	cursor: pointer;
}

.logo1 {
	width: 298px;
	height: 148px;
	margin: 0 auto;
	margin-bottom: -1px;
	background: url("../img/logo.png") center top;
}

#content {
	width: 100%;
	display: none;
	background: #fff;
	color: #000;
}

.logo2 {
	width: 298px;
	height: 151px;
	margin: 0 auto;
	margin-top: -1px;
	background: url("../img/logo.png") center bottom;
}

#content_shadow {
	width: 100%;
	height: 6px;
	margin-bottom: 30px;
	background: url('../img/shadow.png') repeat-x;
}

#content_shadow2 {
	width: 100%;
	height: 5px;
	background: url('../img/shadow2.png') repeat-x;
}

.about-head {
	text-align: left;
	font-family: SourceSansProBold;
	color: #333333;
}

#about {
	font-size: 15px;
	line-height: 19px;
	padding-bottom: 30px;
}

a:HOVER , a:FOCUS, a:ACTIVE{
	text-decoration: none;
}

.about-text {
	line-height: 30px;
	color: #5E5E5E;
	font-size: 13px;
}

.img_p {
	text-align: center;
}

.well {
	display: block;
	padding: 20px;
	background: #eee;
	border: none;
}

.avatar {
	padding-right: 0;
	margin-bottom: 1em;
	text-align: center;
}

.avatar img {
	display: block;
	margin: 0 auto;
	margin-bottom: .8em;
	border: black solid 4px;
	height: 140px;
	width: 140px;
}

.bio {
	display: block;
}

.bio-info {
	font-family: 'SourceSansProRegular';
	line-height: 30px;
	font-size: 18px;
	letter-spacing: 1.5;
	color: #5E5E5E;
}

.about-kallol {
	font-family: 'SourceSansProRegular';
	line-height: 35px;
	font-size: 18px;
	margin-top: 40px;
	letter-spacing: 2.5;
	color: #5E5E5E;
}

.about-kallol-2 {
	font-family: 'SourceSansProRegular';
	line-height: 35px;
	font-size: 18px;
	margin-top: 20px;
	letter-spacing: 2.5;
	color: #5E5E5E;
}

.about-kallol-3 {
	font-family: 'SourceSansProRegular';
	line-height: 25px;
	font-size: 18px;
	margin-top: 15px;
	color: #5E5E5E;
}

.tools-trade {
	margin-top: 50px;
	text-align: left;
	font-family: SourceSansProBold;
	color: #333333;
}

.front-end {
	font-family: SourceSansProBold;
	text-align: left;
	color: #5E5E5E;
}

.back-end {
	font-family: SourceSansProBold;
	text-align: left;
	margin-top: 50px;
	color: #5E5E5E;
}

.tools {
	max-width: 420px;
	margin-top: 1.8em;
}

.logo:first-child {
	margin-left: 0;
}

.logo {
	display: inline-grid;
	zoom: 1;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	margin-left: 10%;
	max-width: 25%;
}

.logo img {
	margin-bottom: 15px;
}

.logo   img {
	opacity: 0.5;
	-webkit-filter: grayscale(100%);
	cursor: pointer;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
	width: 80px;
}

.logo   img:HOVER {
	opacity: 1;
	-webkit-filter: grayscale(0);
}

#project-div {
	margin-top: 100px;
}

.hire-text {
	font-family: 'SourceSansProRegular';
	color: #5E5E5E;
}

#container {
	padding-bottom: 100px;
}
